:root {
  --mobile: 320px;
  --tablet: 601px;
  --desktop: 901px;

  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: max(320px, 100%);
  overflow-x: clip;
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin-right: 0.5rem;
  cursor: pointer;
  padding: 0.25rem;
}

dl {
  margin-top: 1rem;
  font-size: 0.9375rem;
}

dt {
  color: #999;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
