.main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 601px) {
  .main {
    max-height: 3000px;
  }
}

@media (min-width: 901px) {
  .main {
    max-height: 1600px;
  }
}
