.form-row {
  margin-block: .5rem;
  
  &:last-of-type {
    margin-block-end: 1rem;
  }
}

label {
  display: inline-block;
  margin-inline-end: .5rem;
  width: 200px;
  
  @media (min-width: 601px) {
    text-align: right;
  }
}

input {
  padding: .25rem;
  margin-inline-end: .5rem;
}
