.card {
  width: 60%;
  border: 1px solid;
  padding: 1rem;

  @media (min-width: 601px) {
    width: calc((100% - 1rem) / 2);
  }

  @media (min-width: 901px) {
    width: calc((100% - 2rem) / 3);
  }
}

.cardSummary {
  list-style: none;
}

.cardSummary::-webkit-details-marker,
.cardSummary::marker {
  display: none;
}

.avatar {
  display: block;
  width: 100%;
  height: auto;
}

.cardFigure {
  margin: -1rem -1rem 1rem;
}

.name {
  font-size: 2rem;
  text-align: center;
  margin-top: .5rem;
}

.actions {
  text-align: center;
}
